body {
    margin: 0;
    padding: 0;
}

/* Global Styles */
:root {
   --primary-color: #dfecf5; /*Egg shell white*/
   --secondary-color: #9ad1f5; /*Lite blue*/
}

#header {
    background-color: var(--secondary-color) !important;
    min-height: 20vh;
    border: 5px solid black;
}

h1 {
    color: #ae34eb;
}

#jumbo-mini-text {
    color: blue;
}

#main {
    background-color: var(--primary-color) !important;
    min-height: 50vh;
    border: 5px solid black;
}

#footer {
    background-color: var(--secondary-color) !important;
    min-height: 30vh;
    border: 5px solid black;
}